[submodule "dash.vim"]
	path = dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "ag.vim"]
	path = ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "vim-colorschemes"]
	path = vim-colorschemes
	url = https://github.com/timcmartin/vim-colorschemes.git
[submodule "funcoo.vim"]
	path = funcoo.vim
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule "gitv"]
	path = gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "indentLine"]
	path = indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "nerdtree-git-plugin"]
	path = nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "pbcopy.vim"]
	path = pbcopy.vim
	url = https://github.com/mortice/pbcopy.vim.git
[submodule "puppet-syntax-vim"]
	path = puppet-syntax-vim
	url = https://github.com/puppetlabs/puppet-syntax-vim.git
[submodule "snipmate.vim"]
	path = snipmate.vim
	url = https://github.com/csexton/snipmate.vim.git
[submodule "supertab"]
	path = supertab
	url = https://github.com/ervandew/supertab.git
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "tagbar"]
	path = tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "todo.txt-vim"]
	path = todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim.git
[submodule "trailertrash.vim"]
	path = trailertrash.vim
	url = https://github.com/csexton/trailertrash.vim.git
[submodule "tslime.vim"]
	path = tslime.vim
	url = https://github.com/jgdavey/tslime.vim.git
[submodule "vim-abolish"]
	path = vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim-blockle"]
	path = vim-blockle
	url = https://github.com/jgdavey/vim-blockle.git
[submodule "vim-bufonly"]
	path = vim-bufonly
	url = https://github.com/duff/vim-bufonly.git
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim-cucumber"]
	path = vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vim-endwise"]
	path = vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-git"]
	path = vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim-haml"]
	path = vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "vim-hybrid"]
	path = vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "vim-irblack"]
	path = vim-irblack
	url = https://github.com/wgibbs/vim-irblack.git
[submodule "vim-javascript"]
	path = vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim-json"]
	path = vim-json
	url = https://github.com/leshill/vim-json.git
[submodule "vim-markdown"]
	path = vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim-nerdtree-tabs"]
	path = vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim-projectionist"]
	path = vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "vim-pyte"]
	path = vim-pyte
	url = https://github.com/therubymug/vim-pyte.git
[submodule "vim-ragtag"]
	path = vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "vim-railscasts"]
	path = vim-railscasts
	url = https://github.com/jgdavey/vim-railscasts.git
[submodule "vim-repeat"]
	path = vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim-rspec"]
	path = vim-rspec
	url = https://github.com/thoughtbot/vim-rspec.git
[submodule "vim-ruby"]
	path = vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim-ruby-refactoring"]
	path = vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule "vim-signify"]
	path = vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim-slim"]
	path = vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "vim-slurper"]
	path = vim-slurper
	url = https://github.com/adamlowe/vim-slurper.git
[submodule "vim-speeddating"]
	path = vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-unimpaired"]
	path = vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim-vroom"]
	path = vim-vroom
	url = https://github.com/skalnik/vim-vroom.git
[submodule "vimwiki"]
	path = vimwiki
	url = git@github.com:vimwiki/vimwiki.git
[submodule "rubocop"]
	path = rubocop
	url = git@github.com:bbatsov/rubocop
[submodule "vim-http-client"]
	path = vim-http-client
	url = git@github.com:aquach/vim-http-client
[submodule "tmuxline.vim"]
	path = tmuxline.vim
	url = git@github.com:edkolev/tmuxline.vim
[submodule "vim-airline"]
	path = vim-airline
	url = git@github.com:bling/vim-airline
[submodule "vim-airlineish"]
	path = vim-airlineish
	url = git@github.com:paranoida/vim-airlineish.git
[submodule "switch.vim"]
	path = switch.vim
	url = git@github.com:AndrewRadev/switch.vim.git
[submodule "vim-windowswap"]
	path = vim-windowswap
	url = git@github.com:wesQ3/vim-windowswap.git
[submodule "calendar-vim"]
	path = calendar-vim
	url = git://github.com/mattn/calendar-vim
[submodule "vim-vue"]
	path = vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "vim-dotenv"]
	path = vim-dotenv
	url = git@github.com:tpope/vim-dotenv.git
[submodule "vim-angular"]
	path = vim-angular
	url = git@github.com:burnettk/vim-angular.git
[submodule "typescript-vim"]
	path = typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "vim-js-pretty-template"]
	path = vim-js-pretty-template
	url = git@github.com:Quramy/vim-js-pretty-template.git
[submodule "auto-pairs"]
	path = auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "vim-rails"]
	path = vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim-bundler"]
	path = vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule "vim-dispatch"]
	path = vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "vim-rake"]
	path = vim-rake
	url = https://github.com/tpope/vim-rake
[submodule "vim-airline-themes"]
	path = vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
